body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --cell-size: 6rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  height: calc(var(--cell-size) * 8);
  width: calc(var(--cell-size) * 8);
  border-radius: 5px;
}

.cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;

  background: darkgray;
  width: var(--cell-size);
  height: var(--cell-size);
  box-sizing: border-box;
}

.figure-image {
  height: var(--cell-size);
  width: var(--cell-size);
  z-index: 100;
}

/* .figure {
  background: magenta;
} */

.BLACK {
  /* Dark Blue */
  /* background: rgb(122, 157, 178);  */
  /* Dark Green */
  /* background: rgb(119, 149, 86); */
  /* Dark Brown */
  background: rgb(209, 139, 71);
}

.WHITE {
  /* Light Blue */
  /* background: rgb(217, 228, 232); */
  /* Light Green */
  /* background: rgb(235, 236, 208); */
  /* Light Brown */
  background: rgb(255, 206, 158);
}

.BLACK:hover {
  border: 2px solid rgba(255, 255, 255, 1);
}

.WHITE:hover {
  border: 2px solid rgba(255, 255, 255, 1);
}
