body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.board {
  display: flex;
  flex-wrap: wrap;
  height: calc(3rem * 8);
  width: calc(3rem * 8);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;

  background: darkgray;
  width: 3rem;
  height: 3rem;
  box-sizing: border-box;
}

.figure-image {
  width: 3rem;
}

.BLACK {
  background: rgb(122, 157, 178);
}

.BLACK:hover {
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.WHITE {
  background: rgb(217, 228, 232);
}

.WHITE:hover {
  border: 2px solid rgba(255, 255, 255, 0.5);
}
